@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Barbershop | Home</PageTitle>

<div class="Container row w-100 h-100">
    <div class="customerInfo col-2 m-5 h-100">
        <h1>Business Hours:</h1>
        <table class="table table-borderless">
            <thread>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Open</th>
                    <th scope="col">Close</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <th class="row">Monday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Tuesday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Wednesday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Thursday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Friday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Saturday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <th class="row">Sunday</th>
                    <td>0830</td>
                    <td>1800</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-6 h-100 mx-auto">
        <input @bind="userInput" />
        <button type="button" class="btn-lg m-1 btn-success" @onclick="addUser" disabled="@(!IsConnected)">Add
            Name</button>
        <button type="button" class="btn-lg m-1 btn-primary" @onclick="rmUser" disabled="@(!IsConnected)">Next</button>
        <div class="queuePanel bg-primary">
            <ol class="Queue">
                @foreach (var user in users)
                {
                    <li>@user</li>
                }

                @if (users.Count == 0)
                {
                    <p>There are no Customers at this time</p>

                }

            </ol>
        </div>

    </div>
    <div class="time col-4 h-100"></div>
</div>



@code {
    private HubConnection? hubConnection;
    private List<string> users = new List<string>();
    private string? userInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/signalr"))
        .Build();

        hubConnection.On<List<string>>("Update", (current) =>
        {
            users = current;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task addUser()
    {
        if (hubConnection is not null && userInput != "")
        {
            await hubConnection.SendAsync("addUser", userInput);
        }
    }

    private async Task rmUser()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("rmUser");
        }
    }

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}