@inherits LayoutComponentBase

<PageTitle>Barbershop</PageTitle>
<link rel="stylesheet" href="./Navbar.css">
<div class="page bg-dark h-100 minHeight">
    <main>
        <Navbar />
        @Body
    </main>
</div>
